nvim/lua/secrets.lua
wezterm/secrets.lua
fish/secrets.fish
nvim/lua/local.lua
wezterm/local.lua
claude-code/secrets.sh
nvim/lazy-lock.json
nvim/cd-project.nvim.json
.stfolder
.stversions
.DS_Store
Thumbs.db
*.swp
*.swo
*~
hypr/scripts/connect-irc.sh
hypr/scripts/launch-ssh-tmux.sh
hypr/scripts/restore-layout.sh
hypr/layout-workspace*.json
