<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <menu id="root-menu" label="labwc">
    <item label="Terminal">
      <action name="Execute" command="foot" />
    </item>
    <item label="File Manager">
      <action name="Execute" command="dolphin" />
    </item>
    <item label="App Launcher">
      <action name="Execute" command="dms ipc call spotlight toggle" />
    </item>
    <separator />
    <item label="Lock">
      <action name="Execute" command="bash -c '~/.config/hypr/scripts/hyprlock-wrapper.sh'" />
    </item>
    <item label="Reconfigure labwc">
      <action name="Reconfigure" />
    </item>
    <item label="Exit labwc">
      <action name="Exit" />
    </item>
  </menu>
</openbox_menu>
