# Global aliases
alias ip='dig +short myip.opendns.com @resolver1.opendns.com'
alias nginx.start='sudo brew services start nginx'
alias nginx.stop='sudo brew services stop nginx'
alias nginx.restart='nginx.stop && nginx.start'
alias php-fpm.start='sudo brew services start php70'
alias php-fpm.stop='sudo brew services stop php70'
alias php-fpm.restart='php-fpm.stop && php-fpm.start'
alias mysql.start='brew services start mariadb'
alias mysql.stop='brew services stop mariadb'
alias mysql.restart='mysql.stop && mysql.start'
alias localserver.stop='mysql.stop && nginx.stop && php-fpm.stop'
alias localserver.start='mysql.start && nginx.start && php-fpm.start'
alias nginx.logs.error='tail -250f /usr/local/etc/nginx/logs/error.log'
alias nginx.logs.access='tail -250f /usr/local/etc/nginx/logs/access.log'
alias nginx.logs.default.access='tail -250f /usr/local/etc/nginx/logs/default.access.log'
alias nginx.logs.default-ssl.access='tail -250f /usr/local/etc/nginx/logs/default-ssl.access.log'
alias service='brew services'
alias tilankäyttö='sudo ncdu / --exclude=/Volumes/Void --exclude=/Volumes/Backup --exclude=/Volumes/Fluffy --exclude=/Volumes/Giant --exclude=/Volumes/Peikko --exclude=/Volumes/Fluffy'
alias pianobar_help='cat ~/pianobar-man.txt'
alias pianobar='osascript -e '"'"'tell application "Terminal" to do script "pianokeys"'"'"' && pianobar'
alias flush_dns_cache='sudo dscacheutil -flushcache;sudo killall -HUP mDNSResponder; say cache flushed'
alias svgo_all='for f in *.svg; do svgo "$f"; done'
alias wp='./vendor/wp-cli/wp-cli/bin/wp'
alias composer="composer -vvv"
alias backup='wget  --no-check-certificate --no-proxy --mirror -p --html-extension --convert-links -e robots=off -P . '
alias randomword='gshuf -n1  /usr/share/dict/words'
alias grep='grep --color'
alias s='git status'
alias a='git add --all'
alias c='git commit -m'
alias p='git push -u origin HEAD'
alias quota='df -l -k -H'
alias bashrc='pico -w ~/.bashrc'
alias updateversion='find ~/Projects/ -name composer.json -maxdepth 2 -exec sed -i "" 's/$1/$2/g' {} +'
alias grepreplace='find ~/Projects/ -name functions.php -maxdepth 10 -exec sed -i "" 's/$1/$2/g' {} +'
alias wpversions='grep -R "johnpbloch/wordpress" ~/Projects/*/composer.json'
alias gitlog="git log --pretty=format:'%Cgreen✔%Creset %s %Cblue(%cr)' --abbrev-commit"
alias gitlog_notimes="git log --pretty=format:'%Cgreen✔%Creset %s' --abbrev-commit"
alias publicip='curl ipecho.net/plain ; echo'
alias localip="ipconfig getifaddr en0"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Functions as aliases
function plugins() { ssh vagrant@10.1.2.3 "cd /var/www/$@/;/usr/bin/wp plugin list"; }
function updateplugin() { scp -r $@ 'rolle@185.87.110.7:/var/www/plugins.dude.fi/public_html/'; }
function imagesize() { convert "$@" -print "Size: %wx%h\n" /dev/null; }
