alias scanplex='sudo /usr/bin/plexscan "Sarjat" "Leffat"'
alias publicip='curl ipecho.net/plain ; echo'
alias localip="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias grep='grep --color'
alias suomisubit="find /media/giant/leffat -name '*.fi.*'"
alias s='git status'
alias a='git add --all'
alias c='git commit -m'
alias p='git push -u origin master'
alias backupit='pico -w /home/rolle/backupscript-weekly.sh'
alias plexwatch='/opt/plexWatch/plexWatch.pl'
alias xvfbsessio='Xvfb :5 -extension GLX -screen 0 1024x768x16 & export DISPLAY=:5 &'
alias transmission_update='cd ~/ && svn co svn://svn.transmissionbt.com/Transmission/trunk Transmission && cd Transmission && ./configure && make && sudo make install'
alias flac2mp3='for f in *.flac; do flac -cd "$f" | lame -b 320 - "${f%.*}".mp3; done'
alias sub='subliminal'
alias processmusicdir='levy_dirs && scansubsonic'
function kill_all() { ps aux | grep -ie "$@" | awk '{print $2}' | xargs kill -9; }
alias traktstatus='sudo tail -f /var/lib/plexmediaserver/Library/Application\ Support/Plex\ Media\ Server/Logs/PMS\ Plugin\ Logs/com.plexapp.plugins.trakttv.log'
alias subsoniccss_kopioi='sudo cp /var/subsonic/jetty/0.7.24c/webapp/style/rolleshark.css /home/rolle/Dropbox/projects/rolleshark-subsonic-theme/rolleshark.css'
alias subsoniccss='sudo pico -w /var/subsonic/jetty/0.7.24c/webapp/style/rolleshark.css'
alias vlctekstit='iconv -f iso-8859-15 -t utf-8'
alias plexlog='sudo tail -f /var/lib/plexmediaserver/Library/Application\ Support/Plex\ Media\ Server/Logs/Plex\ Media\ Server.log'
alias sysmon='python2.7 /var/sysmon-ws/sysmonserver.py >/dev/null &'
alias williebot='willie >/dev/null &'
alias skypeforeground='export DISPLAY=":5" ; skyped -n -d -l /home/rolle/skyped.log'
alias skypebitlbee2='Xvfb :5 -extension GLX -screen 0 1024x768x16 & export DISPLAY=":5"  >/dev/null & /usr/bin/openbox-session  >/dev/null & skyped >/dev/null &'
function nimea() { for f in *; do rename "$1" "$2" "$f"; echo 'uudelleen nimetty' $f; done; }
alias trackers='cat /home/rolle/trackers.txt'
function lefa() { echo "" > "$@.txt"; }
alias randomsalasana='r=$(( $RANDOM % 30 )); pwgen -ny $r'
alias subsonic_update='rm -rf /var/subsonic/subsonic.war;cd /var/subsonic;wget http://dilerium.se/musiccabinet/subsonic.war'
alias shuffle='zomg -z /media/Nalle/Musiikki/Levyt/*/*.mp3'
function geoip() { curl -s "http://www.geoiptool.com/en/?IP=$1" | html2text | egrep --color "IP Address:|Country:|City:|Longitude:|Latitude:|Host Name:"; }
alias elokuvat='cd /media/Nalle/Elokuvat'
alias galleria='cd /home/rolle/public_html/kuvat/galleries'
alias sub_en='/usr/local/bin/subliminal -l en -v'
alias sub_fi='/usr/local/bin/subliminal -l fi -v'
alias järjestelmäloki='sudo cat /var/log/messages |tail -25'
alias plexcss='sudo pico -w /var/lib/plexmediaserver/Library/Application\ Support/Plex\ Media\ Server/Plug-ins/WebClient.bundle/Contents/Resources/css/plex.css'
alias openboxsessio='nohup Xvfb :5 -extension GLX -screen 0 800x600x16 & export DISPLAY=":5" ; /usr/bin/openbox-session > /dev/null 2>&1 &'
alias vnc='x11vnc -rfbport 5900 -display :5 -rfbauth ~/.x11vnc/passwd'
alias utfsub='iconv -f iso-8859-1 -t utf-8'
function encode() { echo -n $@ | perl -pe's/([^-_.~A-Za-z0-9])/sprintf("%%%02X", ord($1))/seg'; }
function google() { google-chrome http://www.google.com/search?q="`encode $@`" ;}
function kuva() { google-chrome http://www.google.com/images?q="`encode $@`" ;}
function wiki() { firefox http://en.wikipedia.org/w/index.php?title=Special%3ASearch&redirs=0&fulltext=Search&ns0=1&search="`encode $@`" ;}
function movie() { wget -q -O- "http://rollemaa.org/leffahaku/index.php?q="$@"" | grep 'long_title' | sed 's/<[^>]*>//g' && wget -q -O- "http://rollemaa.org/leffahaku/index.php?q="$@"" | grep 'reviewrating' | sed 's/<[^>]*>//g' }
function milloinjoini() { grep $@ /home/rolle/public_html/pul/pulina-* |head -2; }
function poster() { scp -r $@ 'rollemaa0@rollemaa.org:~/www.rollemaa.org/leffahaku/poster-image-db/'; }
function videoblog() { scp -r $@ 'sg1009@ulvila.scenegroup.fi:~/public_html/videos/'; }
function flv2avi() { mencoder -oac mp3lame -ovc lavc -lavcopts vcodec=mpeg4 "$@" -o "$@.avi" && rm -rf "$@" && echo "Valmista tuli."; }
alias smb='sudo service smb start & sudo rcnmb start'
alias gt='gnome-terminal --title '
alias unblock='sudo iptables -D INPUT -s '
alias block='sudo iptables -A INPUT -s ' 
alias rapidsharelaskuri='utimer -c 15m'
alias laske='utimer -s'
alias custom_icon='python /home/rolle/custom_icon.py'
alias kalenteri='gcalcli'
alias n='nautilus'
alias traileri='grep -i -h "traileri" /home/rolle/muistiinpanoja'
alias äiti='grep -i -h "Äiti" /home/rolle/muistiinpanoja'
alias roni='grep -h "Roni" /home/rolle/muistiinpanoja'
alias agenda='watch --no-title --interval=1600 gcalcli agenda'
alias backupmysql='sh ~/backupmysql'
alias g='grep --color'
alias f='fbcmd'
alias projects='cd /home/rolle/public_html/projects/'
alias muistinkäyttö='watch --no-title --interval=1 "ps aux --sort -rss | head -40"'
alias prossunkäyttö='ps aux --sort -%cpu | head -2'
alias netinkäyttö='sudo iftop -p -P -n -i eth0'
alias systemloki='sudo tail -f /var/log/messages'
#alias alsamixer='alsamixer -c 0'
alias dvd='mplayer dvd://1 -dvd-device'
alias lataukset='t -w ~/Lataukset'
alias oletus='t -w ~/Lataukset'
alias resurssit='echo "ps aux |sort -nk +3 |tail"'
alias speakertest='speaker-test -c6 -Dplug:surround51 -t wav -l1'
alias muistiinpano='pico -w /home/rolle/muistiinpanoja'
alias xtitle='xtitle -q'
alias untarbz='tar -xvjf'
alias untargz='tar -xvf'
alias mpg='mpg123'
alias ripdvd='dvdshrink -i'
alias trivia='random /home/rolle/eggdrop/scripts/trivia.questions.makefile > /home/rolle/eggdrop/scripts/trivia.questions'
alias tagi='id3v2'
alias bashrc='pico -w /home/rolle/.bashrc'
alias yd='youtube2mp3'
alias add='gcalcli quick'
alias suurimmat='du -a -h | sort -nr | head -20'
alias x='xtitle'
alias kuvat='jhead -autorot -nf%y%m%d-%H%M%S *.jpg'
alias kuvat2='jhead -autorot -nf%y%m%d-%H%M%S *.JPG'
alias tuubi='youtube-dl -l -i'
alias soittolista='pico -w /home/rolle/soittolista'
alias mountdvd='sudo mkdir -p /media/dvd && sudo chmod -Rv 777 /media/dvd && sudo mount -t iso9660 /dev/dvd /media/dvd'
alias pulina-lastlog='tail -f ~/irclogs/QuakeNet/#pulina.log'
alias note='cat /home/rolle/muistiinpanoja |grep -i'
alias leffahylly='perl /home/rolle/SimpleMovieCatalog/moviecat.pl /home/rolle/leffahylly -o /home/rolle/public_html/leffahylly/index -origtitle -theme webapp_leffahylly -ext txt -matchfirst -quiet'
alias makeiso='mkisofs -v -dvd-video -o'
alias salasana='pwgen 20 -ycn'
alias quota='df -a -l -k -B G'
alias mudhelp='pico -w /home/rolle/mud.txt'
alias httpdconf='sudo pico -w /usr/local/apache2/conf/httpd.conf'
alias phpini='sudo pico -w /etc/php5/cli/php.ini'
alias mycnf='sudo pico -w /etc/my.cnf'
alias dps='watch -n 1 dropboxcli status'
alias figletfonts='ls /usr/share/games/figlet/fonts/'
alias mergevideos='mencoder -oac copy -ovc copy -o'
alias pika='pico -w /home/rolle/Dropbox/pikamuistiinpanot.txt'
alias spotifydebug='padsp -D -d -S -M wine /spotify/spotify.exe'
alias vikalogi='sudo cat /var/log/messages |tail -30'
alias projects='cd /home/rolle/public_html/projects'
alias pulinamiitit='pico -w /home/rolle/public_html/pulinamiitit.php'
alias txt='cat /dev/null >'
alias sorttaa='du -s -h * | sort -t/ -f -r'
alias tiedostokoko='du -s -h'
alias btsync='btsync --config ~/.btsync/btsync.conf'